<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ProjectMapper">
    <select id="getProjectById" parameterType="String"
            resultType="com.example.demo.entity.Project">
        SELECT id,name,description FROM Project where
        id=#{id}
    </select>
    <select id="getAllProject"
            resultType="com.example.demo.entity.Project">
        SELECT id,name,description FROM Project
    </select>


</mapper>